@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

nav{
    display: flex;
    position: fixed;
    width: 98%;
    justify-content: space-between;
    justify-self: center;
    padding: 7px 90px 0 90px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    z-index: 3;
}
nav .logo{
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: rgb(142, 18, 224);;
    cursor: pointer;
    margin-top: 2px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
ul a{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style:normal;
    text-decoration:none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 8px;
}
ul a:hover{
    cursor: pointer;
}
.introduction{
    padding: 10px 120px 60px 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    z-index: 1;
}
.first-paragraph{
    font-size: 17px;
}
.intro-left{
    display: flex;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    font-size: 26px;
    flex-direction:column;
    color: rgb(0, 0, 0);
    cursor :default;
    align-self: center;
}
.intro-left span{
    color: rgb(142, 18, 224);
}
.second-paragraph{
    margin:13px 0 12px 0;
    font-size: 18px;
}
.intro-left b{
    font-size: 70px;
}
.intro-left a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 10px 12px 10px;
}
.nav-button a:hover{
    cursor: pointer;
}
.touch{
    background-color: rgb(142, 18, 224);
    color: white;
    border: 0px solid transparent;
    border-radius: 5px;
}
.project{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
}
.intro-right{
    align-self: center;
}
.intro-right img{
    height: auto;
    width: 28vw;
    border: 1px solid rgb(142, 18, 224);
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 20px;
}
#services{
    padding: 30px;
}
.flex-body{
    padding-top: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}
.fence1{
    grid-column: 1/3;
}
.fence4{
    grid-column: 2/4;
}
.fence{
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-color: #E5E5EA;
}
#services h1{
    color: #000000;
    font-size: 40px;
    padding-left: 30px;
}
.fence img{
    height: 180px;
}
#projects{
    padding: 30px;
    background-color: #f7f7f7;
    color: #0a0000;
}
#projects h1{
    color: #070707;
    font-size: 40px;
    padding-left: 30px;
}
.pro{
    position:relative;
    width: 100%;
    height:fit-content;
    display: flex;
    justify-self: center;
    flex-direction: row;
    padding: 10px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.contain-projects{
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 30px;
}
.pro img{
    height: 80%;
    width: 280px;
    margin:25px 20px 0 20px;
    border-radius: 10px;
}
.pro .undo{
    width: 100px;
}
.pro .undo:hover{
    background-color: #ccc;
}
.explanation{
    border-left: 3px solid rgb(142, 18, 224);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.explanation ul{
    list-style: none;
    display: flex;
    padding:19px 0 17px 0;
    gap: 10px;
}
.explanation ul li{
    border-radius: 6px;
    width: 3.9rem;
    height: 1.4rem;
    text-align: center;
    align-content: center;
    background-color: rgb(0, 0, 0);
    color: #ffff;
}
.pro button{
    width: 80px;
    height: 30px;
    font-size: 14px;
    padding: 5px 0 5px 0;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: rgb(142, 18, 224);
    color: white;
    border-radius: 4px;
    border: 0px solid transparent;
    &:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
        cursor: pointer;
    }
}
.pro h3{
    padding: 20px 0 10px 0;
}
#skills{
      padding: 30px;
    background-image: url("images/tabl.jpg");
    background-position: center;
    background-size: cover;
}
#skills h1{
    color: #0a0000;
    font-size: 40px;
    padding-left: 30px;
}
#skills span{
    color: rgb(142, 18, 224);
}
.cskills{
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px;
    margin: 10px 0 0 70px;
}
.cskills p{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}
.cskills ul{
    list-style: none;
    font-size: 14px;
}
.cskills ul li{
    margin-bottom: 6px;
}
#about{
      padding: 40px;
    color: rgb(0, 0, 0);
}
#about h1{
    font-size: 40px;
    padding-left: 30px;
    text-decoration: underline;
    margin-bottom: 30px;
    text-decoration-color: rgb(142, 18, 224);
}
#about span{
    text-align: center;
  font-size: 20px;
  font-style:normal;
  margin-left: 20px;
}
.grid-about{
    grid-row: 1;
    grid-column: 1/4;
}
#contact{
      padding: 20px;
      display: flex;
      justify-content: space-between;
}
#contact h1{
    color: #000000;
}
#contact a{
    margin-left: 20px;
    color: rgb(142, 18, 224);
}
#sidebar, #cancel{
    display:none;
}
.hambuger, .cancel{
    display:none;
}
@media  screen and (max-width:760px) {
 #sidebar{
          display:none;
        }
        .hambuger{
            font-size: 10px;
            justify-self: flex-end;
            padding: 6px;
            display: block;
            background-color: rgb(142, 18, 224);
            border-radius:5px;
            color: white;
            cursor: pointer;
            position: sticky;
            top: 10px;
            left: 10px;
            z-index: 2;
        }
        .cancel{
            font-size: 17px;
            padding: 6px;
            display: block;
            color: rgb(0, 0, 0);
            cursor: pointer;
            position: absolute;
            top: 7px;
            right: 20px;
            z-index: 2;
        }
     #sidebar:checked ~ ul {
            left: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
       justify-self:center;
            align-items: center;
            background: rgba(255,255,255,0.2);
            backdrop-filter: blur(10px);
            gap:15px;
        }
        #cancel{
            display: none;
        }
    #cancel:checked ~ ul{
            display: none; 
    }
        nav ul{
             position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #222;
            text-align:center;
            align-content:center;
            justify-content: center;
            color: white;
            padding: 60px 20px;
            box-shadow: 2px 0 5px rgba(223, 97, 235, 0.5);
            transition: left 0.3s ease;
            z-index: 3;
            display:none;
        }
       nav{
        width:100%;
        justify-content: space-between ;
        gap: 90px;
        padding: 8px 15px;
    }
  .introduction{
    display: flex;
    margin-top:40px;
    padding:15px;
    text-align: center;
    justify-content:space-evenly;
    flex-direction: column-reverse;
    height:auto;
   }
    .intro-right img{
     width: 100%;
        height: auto;
        margin:0 auto;
   }
   .intro-left b{
    font-size: 28px;
   }
   .nav-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-self: center;
   }
   .nav-button a{
    text-align: center;
   }
   #services{
    max-width: 100%;
    justify-self: center;
   }
   .flex-body{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
   }
   .fence{
    max-width: 100%;
   }
   .pro{
    position:relative;
    margin:0 auto;
    width: 100%;
    height:fit-content;
    display: flex;
    justify-self: center;
    flex-direction: column;
}
.explanation{
    border-top: 3px solid rgb(142, 18, 224);
    border-left: 0px;
}
.pro img{
    height: auto;
    width: 80%;
    max-width: 100%;
    align-self: center;
    margin:20px;
    border-radius: 10px;
}
#services h1{
    font-size: 26px;
    text-align: center;
}
#skills h1{
    font-size: 26px;
    text-align: center;
}
#projects h1{
    font-size: 26px;
    text-align: center;
}
#about{
    display: flex;
    flex-direction: column;
}
#about h1{
    font-size: 26px;
    text-align: center;
    }
#about img{
    height: auto;
    max-width: 100%;
    object-fit: contain;
    align-self: center;
    padding: 4px;
    border: 1px solid rgb(142, 18, 224);
}
#contact{
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#contact h1{
    font-size: 26px;
}
.overlay{
    display: none;
}
.cskills{
    display: flex;
    flex-direction:column;
    gap:20px;
    align-self: center;
}
}
@media screen and (max-width:768px){
    nav{
        padding:10px;
    }
}
html {
    scroll-behavior: smooth;
}


